@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Global CSS*/
body {
  @apply bg-gray-900 text-amber-100;
}

input, textarea, select {
  @apply text-amber-100 placeholder-amber-300/50 bg-gray-800 border border-gray-600;
}

button {
  @apply text-gray-900 bg-amber-300 hover:bg-amber-400;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-amber-100;
}

.text-transparent {
  -webkit-background-clip: text !important;
  background-clip: text !important;
  display: inline-block;
}